* {
	transition: 150ms;
	color: white;
	font-size: 130%;
}

body {
	margin: 0;
	background: #1a1a1a;
} 

canvas {
	background: #2b2b2b; 
	display: block; 
	margin: auto auto; 
	transform: scale(1.2);
	align-self: center;

}

.red {
	animation: red 200ms;
}

@keyframes red {
	from {
		background: #2b2b2b;
		transform: rotate(10deg) scale(1.2);
	}
	to {
		background: #880000;
		transform: rotate(0deg) scale(1.2);
	}
}

.woosh {
	animation: woosh 700ms;
}

@keyframes woosh {
	from {transform: rotate(360deg) scale(1.5)}
	to {background: #008800;}
}